### use # to comment out the configure item

### I/O ###
train_dir=sample_data/ti2_sentence.train
dev_dir=sample_data/ti2_sentence.dev
test_dir=sample_data/ti2_sentence.test
model_dir=sample_data/lstmcrf
word_emb_dir=sample_data/T.sample.word.emb
char_emb_dir=sample_data/T.sample.char.emb

#raw_dir=sample_data/T.raw.bmes
#decode_dir=sample_data/T.raw.decoded
#dset_dir=sample_data/lstmcrf.dset
#load_model_dir=sample_data/lstmcrf.9.model


norm_word_emb=True
norm_char_emb=True
number_normalized=False
seg=True
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
feature=[POS] emb_size=20
feature=[Cap] emb_size=20
#emb_dir=sample_data/T.sample.label.emb
#nbest=1

###TrainingSetting###
status=train
optimizer=SGD
iteration=25
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.001
momentum=0
l2=1e-8
#gpu
#clip=
